@font-face {
    font-family: 'Police1';
    src: url('https://raw.githubusercontent.com/votre-nom-utilisateur/mes-polices/main/police1.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/votre-nom-utilisateur/mes-polices/main/police1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Déclaration de la deuxième police */
@font-face {
    font-family: 'Police2';
    src: url('https://raw.githubusercontent.com/votre-nom-utilisateur/mes-polices/main/police2.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/votre-nom-utilisateur/mes-polices/main/police2.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
