@font-face {
    font-family: 'Agrandir TextBold';
    src: url('https://github.com/Balcman/Agrandir/blob/a36a72c0d83d4e1f839df32fabb65a33d2d72a95/Agrandir-TextBold.woff2') format('woff2'),
         url('https://github.com/Balcman/Agrandir/blob/a36a72c0d83d4e1f839df32fabb65a33d2d72a95/Agrandir-TextBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir Regular';
    src: url('https://github.com/Balcman/Agrandir/blob/a36a72c0d83d4e1f839df32fabb65a33d2d72a95/Agrandir-Regular.woff2') format('woff2'),
         url('https://github.com/Balcman/Agrandir/blob/a36a72c0d83d4e1f839df32fabb65a33d2d72a95/Agrandir-Regular.woff') format('woff');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir ThinItalic';
    src: url('https://github.com/Balcman/Agrandir/blob/a36a72c0d83d4e1f839df32fabb65a33d2d72a95/Agrandir-ThinItalic.woff2') format('woff2'),
         url('https://github.com/Balcman/Agrandir/blob/a36a72c0d83d4e1f839df32fabb65a33d2d72a95/Agrandir-ThinItalic.woff') format('woff');
    font-weight: thin;
    font-style: italic;
}

